.background {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notfound-container {
    background-color: white !important;
}

.not-found-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    color: #2a3a48 !important;
    font-size: 1rem;
    background-color: white !important;
}

.not-found-btn:hover {
    color: white !important;
    background-color: #223a58 !important;
}