.table-bar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-item-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    color: #2a3a48 !important;
    font-size: 1rem;
    background-color: white !important;
}

.add-item-btn:hover {
    color: white !important;
    background-color: #223a58 !important;
}

.pagination-color {
    color: #2A3A48 !important;
}