.manage-all-inventory-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    color: #2a3a48 !important;
    font-size: 1rem;
    background-color: white !important;
}

.manage-all-inventory-btn:hover {
    color: white !important;
    background-color: #223a58 !important;
}