.google-button {
    border: 1px solid #474E68 !important;
    border-radius:30px;
    padding-bottom: 10px;
    width:50%;
    color: white !important;
    background-color: #223a58 !important;
    background:url(https://i.ibb.co/VLpXZz8/google-logo.png) 5px 4px no-repeat;
}


.google-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.google-button:hover {
    border:1px solid gray;
    border-radius:30px;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-weight: 600;
    margin: 20px 0;
}

.divider:after,
.divider:before {
    content: '';
    display: block;
    background: #444;
    width: 18%;
    height: 1px;
    margin: 0 10px;
}