.out-stock-chip-color {
    color: #db1d1d !important;
}

.manage-stock-btn {
    width: 100%;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    background-color: #474E68 !important;
}

.manage-stock-btn:hover {
    background-color: lightslategrey !important;
}

.vendor-name-mark {
    background: #6e2594;
    color: #fff;
    font-size: 12px;
    padding: 4px 30px !important;
    line-height: 12px;
    border-radius: 0 20px 20px 0;
    flex: 0 0 auto;
}