.invoice-search-icon {

}

.invoice-search-icon:hover {
    color: royalblue;
    cursor: pointer;
}

.invoice-table-bar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}