.icon-color {
    color: white !important;
}

.drawerPaper {
    width: 250px;
}

.title-center {
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}

.split-color {
    color: #4C94FE;
}

.link-hover:hover {
    /*font-size: 15px;*/
    color: #4C94FE;
}