.link-hover:hover {
    /*font-size: 15px;*/
    color: #4C94FE;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation a {
    color: #444;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.login-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    font-size: 1rem;
    color: white !important;
    background-color: #223a58 !important;
}

.logout-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    font-size: 1rem;
    color: white !important;
    background-color: #223a58 !important;
}