.footer-top {
    margin-top: 2rem !important;
    background-color: #2a3a48;
    padding: 2rem 4rem;
}

.footer-top p, .footer-top a {
    color: #a9a9a9;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.footer-top h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-top a {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.footer-top a:hover {
    color: white;
}

.mobile-app {
    display: flex;
    gap: 20px;
}

.app {
    background-color: #f0f7ff;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
}

.app svg {
    font-size: 33px;
    padding-right: 7px;
    color: #2c425d;
    transition: 0.3s ease-in-out;
}

.app p {
    color: #2c425d;
    line-height: 20px;
    transition: 0.3s ease-in-out;
}

.app:hover {
    background-color: #2c425d;
}

.app:hover svg {
    color: #f0f7ff;
}

.app:hover p {
    color: #f0f7ff;
}

.footer-bottom p {
    color: #ffffff;
}