.dashboard-table-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-card-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
}