
.add-supplier-border {
    margin: 2rem auto;
    border: 1px solid lightgray;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    width: 90%;
}

.forms-control {
    width: 60%;
    margin: 0 auto;
}
.add-supplier-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    font-size: 1rem;
    color: white !important;
    background-color: #223a58 !important;
}

.add-supplier-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.title-color {
    color: #2c425d;
    font-size: 2rem;
}

.make-flex {
    display: flex;
}
