.invoice-bar {
    background-color: #fff;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.shipping-stripe {
    background: rgba(2, 2, 111, 0.73);
    color: #fff;
    font-size: 15px;
    padding: 6px 0 6px 5px;
    display: flex;
    justify-content: start;
    line-height: 20px;
    border-radius: 0 20px 20px 0;
    /*flex: 0 0 auto;*/
    margin-bottom: 1rem !important;
}

.order-stripe {
    background: rgba(2, 2, 111, 0.73);
    color: #fff;
    font-size: 15px;
    padding: 6px 5px 6px 0;
    display: flex;
    justify-content: end;
    line-height: 20px;
    border-radius: 20px 0 0 20px;
    /*flex: 0 0 auto;*/
    margin-bottom: 1rem !important;
}

.single-border {
    border: 1px solid #464444 !important;
}

@media print {
    #printPageButton {
        display: none;
    }
}
