.banner-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

.banner-content {
    color: #2c425d;
}

.banner-img {
    width:100%;
}