.logo {
    margin: 0 auto;
    width: 50%;
}

.registration-border {
    margin: auto;
    border: 1px solid lightgray;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    /*padding: 20px 0;*/
    width: 45%;
}

.registration-btn {
    border: 1px solid #474E68 !important;
    font-weight: bold !important;
    font-size: 1rem;
    color: white !important;
    background-color: #223a58 !important;
}

.registration-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.registration-page-color {
    margin-top: 1rem;
    color: white !important;
}

.p-color {
    color: black;
}
.title-color {
    color: #2c425d;
}
