.banner-container {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    align-items: center;
    gap: 4rem;
    padding: 40px 0;
}

.item-content {
    color: #2C425D !important;
}

.price-design {
    color: #2C425D;
    align-content: center;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #e2e7e8;
}

.stock-design {
    color: #2C425D;
    align-content: center;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #e2e7e8;
}

.add-to-stock-box {
    gap: 10px !important;
    background: #4648a0 !important;
    padding: 20px !important;
    border-radius: 4px !important;
    margin-bottom: 20px !important;
}

.add-to-stock-box-input {
    background-color: white !important;
    border-radius: 5px;
}

.add-to-stock-box-btn {
    background-color: white !important;
    color: #4648a0 !important;
    text-transform: none !important;
}

.deliver-item-btn {
    background-color: #613e9b !important;
    font-size: 1rem;
    color: white !important;
    text-transform: none !important;
    margin-bottom: 4rem !important;
}

.deliver-item-btn:hover {
    background-color: #0d0d74 !important;
}

